@app.route('/add_small', methods=['GET', 'POST'])
def add_small():
    if 'username' not in session:
        return redirect(url_for('login'))

    local_numbers = [str(i) for i in range(1, 43)]  # округи 1–42
    locations = [f"Л{i}" for i in range(1, 21)]     # локації Л1–Л20

    def get_big_district(num):
        num = int(num)
        if 1 <= num <= 7:
            return "1"
        elif 8 <= num <= 14:
            return "2"
        elif 15 <= num <= 19:
            return "3"
        elif 20 <= num <= 28:
            return "4"
        elif 29 <= num <= 35:
            return "5"
        elif 36 <= num <= 42:
            return "6"
        else:
            return ""

    if request.method == 'POST':
        local_number = request.form['local_number']
        last_name = request.form['last_name']
        first_name = request.form['first_name']
        middle_name = request.form['middle_name']
        address = request.form['address']
        phone = request.form['phone']
        birthdate = request.form['birthdate']
        location = request.form['location']
        big_district = get_big_district(local_number)

        conn = sqlite3.connect('database.db')
        c = conn.cursor()
        c.execute('''
            INSERT INTO small_districts 
            (local_number, last_name, first_name, middle_name, address, phone, birthdate, location, big_district)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (local_number, last_name, first_name, middle_name, address, phone, birthdate, location, big_district))
        conn.commit()
        conn.close()

        return redirect(url_for('small_list'))

    return render_template('add_small.html', local_numbers=local_numbers, locations=locations)
