<!DOCTYPE html>
<html>
<head><title>Список підписників</title></head>
<body>
    <h2>Усі підписники</h2>
    <table border="1">
        <tr>
            <th>Ім’я</th><th>Адреса</th><th>Телефон</th><th>Газета</th><th>Термін</th><th>Оформлено</th>
        </tr>
        {% for sub in subscribers %}
        <tr>
            <td>{{ sub[1] }}</td><td>{{ sub[2] }}</td><td>{{ sub[3] }}</td><td>{{ sub[4] }}</td><td>{{ sub[5] }}</td><td>{{ sub[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add">🔙 Назад</a> |
    <a href="/logout">🚪 Вийти</a>
</body>
</html>
